
files:
  "/tmp/build.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      # Uncomment the line that relates to the specific major node version you want installed
      #  npm install
      # npm run build
      #npm start
      #git clone https://github.com/garedrag/nodejs-chess-demo4.git tmp
      #cd /tmp/nodejs-chess-demo4

  "/tmp/startclient.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      #yum install gcc-c++ make
      npm run client

container_commands:
  00_build_app:
    command: "git clone https://github.com/garedrag/nodejs-chess-demo4.git tmp"
    command: "cd /tmp/nodejs-chess-demo4"
    command: "sh /tmp/build.sh"
    ignoreErrors: false

  10_start_app:
    command: "sh /tmp/startclient.sh"
    ignoreErrors: true