###################################################################################################
#### This configuration file installs nodejs to a non-NodeJs solution stack. Uncomment the line that
#### relates to the specific major node version
###################################################################################################

files:
  "/tmp/prep_node_installation.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      # Uncomment the line that relates to the specific major node version you want installed

      #  The URL without a major version branch below will result in a node 0.10 installation
      #  curl --silent --location https://rpm.nodesource.com/setup | bash -
      #
         curl --silent --location https://rpm.nodesource.com/setup_4.x | bash -
      #  curl --silent --location https://rpm.nodesource.com/setup_6.x | bash -

  "/tmp/install_node.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      #yum install gcc-c++ make
      yum -y install nodejs

commands:
  00_prep_for_node_install:
    command: "sh /tmp/prep_node_installation.sh"
    ignoreErrors: false

  10_install_node:
    command: "sh /tmp/install_node.sh"
    ignoreErrors: false